/****** Object:  StoredProcedure [dbo].[sp_insertar_empleado] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_insertar_empleado]
    @ValorDocumentoIdentidad NVARCHAR(20),
    @Nombre NVARCHAR(100),
    @IdPuesto INT,
    @PostByUser NVARCHAR(50),           -- Usuario que realiza la acción 
    @PostInIP NVARCHAR(50),
    @FechaContratacion DATE = NULL      -- NUEVO: si no se pasa, se usa GETDATE()
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DescripcionBase NVARCHAR(500);
    DECLARE @Descripcion NVARCHAR(1000);
    DECLARE @IdUser INT;
    DECLARE @IdTipoEvento INT;
    DECLARE @FechaActual DATETIME = GETDATE();
    DECLARE @NombrePuesto NVARCHAR(200);
    DECLARE @FechaContr DATETIME;

    BEGIN TRY
        -- Resolver fecha de contratación: usar la pasada si existe, sino la fecha actual
        SET @FechaContr = ISNULL(CAST(@FechaContratacion AS DATETIME), @FechaActual);

        -- Obtener Id del usuario que realiza la acción
        SELECT @IdUser = Id
        FROM Usuario
        WHERE Username = @PostByUser;

        IF @IdUser IS NULL
        BEGIN
            -- Usuario no existe -> tomar descripción del catálogo y registrar inserción no exitosa
            SELECT @DescripcionBase = Descripcion FROM dbo.Error WHERE Codigo = 50001; -- Usuario inválido

            -- Intent: mostrar descripción del error + datos intentados (incluye nombre del puesto si existe)
            SELECT @NombrePuesto = Nombre FROM Puesto WHERE Id = @IdPuesto;

            SET @Descripcion = @DescripcionBase
                               + ', ' + @ValorDocumentoIdentidad
                               + ', ' + @Nombre
                               + ', ' + ISNULL(@NombrePuesto, 'IdPuesto=' + CAST(@IdPuesto AS NVARCHAR));

            SET @IdTipoEvento = 2; -- Inserción no exitosa
            INSERT INTO BitacoraEvento(IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
            VALUES(@IdTipoEvento, @Descripcion, NULL, @PostInIP, @FechaActual);
            RETURN;
        END

        -- Obtener nombre del puesto (para usar en la descripción)
        SELECT @NombrePuesto = Nombre FROM Puesto WHERE Id = @IdPuesto;

        -- Validar que ValorDocumentoIdentidad sea numérico
        IF ISNUMERIC(@ValorDocumentoIdentidad) = 0
        BEGIN
            SELECT @DescripcionBase = Descripcion FROM dbo.Error WHERE Codigo = 50010; -- Valor documento no numérico

            SET @Descripcion = @DescripcionBase
                               + ', ' + @ValorDocumentoIdentidad
                               + ', ' + @Nombre
                               + ', ' + ISNULL(@NombrePuesto, 'IdPuesto=' + CAST(@IdPuesto AS NVARCHAR));

            SET @IdTipoEvento = 2;
            INSERT INTO BitacoraEvento(IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
            VALUES(@IdTipoEvento, 'Inserción no exitosa: ' + @Descripcion, @IdUser, @PostInIP, @FechaActual);
            RETURN;
        END

        -- Validar que Nombre sea alfabético (letras y espacios)
        IF @Nombre LIKE '%[^a-zA-Z ]%'
        BEGIN
            SELECT @DescripcionBase = Descripcion FROM dbo.Error WHERE Codigo = 50009; -- Nombre no alfabético

            SET @Descripcion = @DescripcionBase
                               + ', ' + @ValorDocumentoIdentidad
                               + ', ' + @Nombre
                               + ', ' + ISNULL(@NombrePuesto, 'IdPuesto=' + CAST(@IdPuesto AS NVARCHAR));

            SET @IdTipoEvento = 2;
            INSERT INTO BitacoraEvento(IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
            VALUES(@IdTipoEvento, 'Inserción no exitosa: ' + @Descripcion, @IdUser, @PostInIP, @FechaActual);
            RETURN;
        END

        -- Validar que no exista otro empleado con mismo ValorDocumentoIdentidad Y mismo Nombre
        IF EXISTS(
            SELECT 1 FROM Empleado 
            WHERE ValorDocumentoIdentidad = @ValorDocumentoIdentidad
              AND Nombre = @Nombre
        )
        BEGIN
            SELECT @DescripcionBase = Descripcion FROM dbo.Error WHERE Codigo = 50004; -- Duplicado en inserción

            SET @Descripcion = @DescripcionBase
                               + ', ' + @ValorDocumentoIdentidad
                               + ', ' + @Nombre
                               + ', ' + ISNULL(@NombrePuesto, 'IdPuesto=' + CAST(@IdPuesto AS NVARCHAR));

            SET @IdTipoEvento = 2;
            INSERT INTO BitacoraEvento(IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
            VALUES(@IdTipoEvento, 'Inserción no exitosa: ' + @Descripcion, @IdUser, @PostInIP, @FechaActual);
            RETURN;
        END

        -- Insertar el empleado usando la fecha de contratación resuelta
        INSERT INTO Empleado (ValorDocumentoIdentidad, Nombre, IdPuesto, FechaContratacion, EsActivo, SaldoVacaciones)
        VALUES (@ValorDocumentoIdentidad, @Nombre, @IdPuesto, CAST(@FechaContr AS DATE), 1, 0);

        -- Registrar inserción exitosa en BitacoraEvento (usar nombre del puesto)
        SET @IdTipoEvento = 6; -- Inserción exitosa

        SET @Descripcion = @ValorDocumentoIdentidad
                           + ', ' + @Nombre
                           + ', ' + ISNULL(@NombrePuesto, 'IdPuesto=' + CAST(@IdPuesto AS NVARCHAR));

        INSERT INTO BitacoraEvento(IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
        VALUES(@IdTipoEvento, @Descripcion, @IdUser, @PostInIP, @FechaActual);

    END TRY
    BEGIN CATCH
        -- Captura errores de SQL
        INSERT INTO DBError(UserName, Number, State, Severity, Line, [Procedure], Message, DateTime)
        VALUES(@PostByUser, ERROR_NUMBER(), ERROR_STATE(), ERROR_SEVERITY(), ERROR_LINE(), ERROR_PROCEDURE(), ERROR_MESSAGE(), GETDATE());

        -- Registrar en BitacoraEvento usando el código de error de base de datos (50008)
        SELECT @DescripcionBase = Descripcion FROM dbo.Error WHERE Codigo = 50008; -- Error de base de datos

        SELECT @NombrePuesto = Nombre FROM Puesto WHERE Id = @IdPuesto;

        SET @Descripcion = @DescripcionBase
                           + ', ' + @ValorDocumentoIdentidad
                           + ', ' + @Nombre
                           + ', ' + ISNULL(@NombrePuesto, 'IdPuesto=' + CAST(@IdPuesto AS NVARCHAR));

        INSERT INTO BitacoraEvento(IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
        VALUES(2, 'Inserción no exitosa: ' + @Descripcion, @IdUser, @PostInIP, @FechaActual);
    END CATCH
END
GO
