ALTER PROCEDURE [dbo].[sp_login]
    @inUsername NVARCHAR(50),
    @inPassword NVARCHAR(255),
    @inIP NVARCHAR(50),
    @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdUser INT;
    DECLARE @IdUsuarioNoValido INT;
    DECLARE @intentosfallidos INT;
    DECLARE @Descripcion NVARCHAR(500);

    BEGIN TRY
        -- Obtener Id del usuario "Usuario No Valido" para bitácora de fallos
        SELECT @IdUsuarioNoValido = Id
        FROM dbo.Usuario
        WHERE Username = 'Usuario No Valido';

        -- Verificar si el usuario existe
        SELECT @IdUser = Id
        FROM dbo.Usuario
        WHERE Username = @inUsername;

        -- Contar intentos fallidos en los últimos 5 minutos por IP
        SELECT @intentosfallidos = COUNT(*)
        FROM dbo.BitacoraEvento AS BE
        WHERE BE.IdPostByUser = ISNULL(@IdUser, @IdUsuarioNoValido)
          AND BE.IdTipoEvento = 2 -- Login no exitoso
          AND BE.PostInIP = @inIP
          AND BE.PostTime >= DATEADD(MINUTE, -5, GETDATE());

        -- Si llegó al límite de intentos
        IF (@intentosfallidos >= 5)
        BEGIN
            SET @outResultCode = 50003; -- Login deshabilitado
            INSERT INTO dbo.BitacoraEvento
                (IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
            VALUES
                (3, 'Login deshabilitado', @IdUser, @inIP, GETDATE());
            RETURN;
        END

        -- Verificar existencia del usuario
        IF (@IdUser IS NULL)
        BEGIN
            SET @outResultCode = 50001; -- Username no existe
            SET @Descripcion = CONCAT('Intentos: ', @intentosfallidos + 1, ', CodigoError: 50001');
            INSERT INTO dbo.BitacoraEvento
                (IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
            VALUES
                (2, @Descripcion, @IdUsuarioNoValido, @inIP, GETDATE());
            RETURN;
        END

        -- Verificar existencia de la contraseña
        IF NOT EXISTS (SELECT 1 FROM dbo.Usuario WHERE Password = @inPassword)
        BEGIN
            SET @outResultCode = 50002; -- Password no existe
            SET @Descripcion = CONCAT('Intentos: ', @intentosfallidos + 1, ', CodigoError: 50002');
            INSERT INTO dbo.BitacoraEvento
                (IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
            VALUES
                (2, @Descripcion, @IdUsuarioNoValido, @inIP, GETDATE());
            RETURN;
        END

        -- Verificar coincidencia usuario + contraseña
        IF NOT EXISTS (SELECT 1 FROM dbo.Usuario WHERE Username = @inUsername AND Password = @inPassword)
        BEGIN
            SET @outResultCode = 50002; -- Password incorrecta
            SET @Descripcion = CONCAT('Intentos: ', @intentosfallidos + 1, ', CodigoError: 50002');
            INSERT INTO dbo.BitacoraEvento
                (IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
            VALUES
                (2, @Descripcion, @IdUsuarioNoValido, @inIP, GETDATE());
            RETURN;
        END

        -- Login exitoso
        SET @outResultCode = 0;
        INSERT INTO dbo.BitacoraEvento
            (IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
        VALUES
            (1, 'Login exitoso', @IdUser, @inIP, GETDATE());

    END TRY
    BEGIN CATCH
        INSERT INTO dbo.DBError
            (UserName, Number, State, Severity, Line, [Procedure], Message, DateTime)
        VALUES
            (SUSER_SNAME(),
             ERROR_NUMBER(),
             ERROR_STATE(),
             ERROR_SEVERITY(),
             ERROR_LINE(),
             ERROR_PROCEDURE(),
             ERROR_MESSAGE(),
             GETDATE());

        SET @outResultCode = -1; -- Error de plataforma
    END CATCH
END
GO
