/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 12/10/2025 11:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_login]
    @inUsername NVARCHAR(50),
    @inPassword NVARCHAR(255),
    @inIP NVARCHAR(50),
    @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdUser INT;
    DECLARE @IdUsuarioNoValido INT;
    DECLARE @intentosfallidos INT;
    DECLARE @Descripcion NVARCHAR(500);

    BEGIN TRY
        -- Obtenie Id del usuario del Usuario No Valido para usar en la bitacora
        SELECT @IdUsuarioNoValido = Id
        FROM dbo.Usuario
        WHERE Username = 'Usuario No Valido';

        
        SELECT @IdUser = Id -- obtiene el id del usuario que se loguea 
        FROM dbo.Usuario
        WHERE Username = @inUsername;

               -- Cuenta los intentos fallidos en los últimos 5 minutos por IP
        SELECT @intentosfallidos = COUNT(*)
        FROM dbo.BitacoraEvento AS BE
        WHERE (BE.IdTipoEvento = 2)                                      -- Login no exitoso
          AND (BE.PostInIP = @inIP)                                      -- misma IP
          AND (BE.PostTime >= DATEADD(MINUTE, -5, GETDATE()));           -- últimos 5 minutos


        -- Si llegó al límite de intentos desabilita el login 
        IF (@intentosfallidos >= 5)
        BEGIN
            SET @outResultCode = 50003; -- Login deshabilitado
            INSERT INTO dbo.BitacoraEvento-- inserta en la bitacora 
                (IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
            VALUES
                (3,NULL, @IdUsuarioNoValido, @inIP, GETDATE());
            RETURN;
        END

        -- Verifica si existe el usuario
        IF (@IdUser IS NULL)
        BEGIN
            SET @outResultCode = 50001; -- Username no existe
            SET @Descripcion = CONCAT('Intentos: ', @intentosfallidos + 1, ', CodigoError: 50001');
            INSERT INTO dbo.BitacoraEvento
                (IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
            VALUES
                (2, @Descripcion, @IdUsuarioNoValido, @inIP, GETDATE());
            RETURN;
        END

        -- Verifica si existe la contraseña
        IF NOT EXISTS (SELECT 1 FROM dbo.Usuario WHERE Password = @inPassword)
        BEGIN
            SET @outResultCode = 50002; -- Password no existe
            SET @Descripcion = CONCAT('Intentos: ', @intentosfallidos + 1, ', CodigoError: 50002');
            INSERT INTO dbo.BitacoraEvento
                (IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
            VALUES
                (2, @Descripcion, @IdUsuarioNoValido, @inIP, GETDATE());
            RETURN;
        END

        -- Verifica coincidencia usuario + contraseña
        IF NOT EXISTS (SELECT 1 FROM dbo.Usuario WHERE Username = @inUsername AND Password = @inPassword)
        BEGIN
            SET @outResultCode = 50002; -- Password incorrecta
            SET @Descripcion = CONCAT('Intentos: ', @intentosfallidos + 1, ', CodigoError: 50002');
            INSERT INTO dbo.BitacoraEvento
                (IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
            VALUES
                (2, @Descripcion, @IdUsuarioNoValido, @inIP, GETDATE());
            RETURN;
        END

        -- Login exitoso
        SET @outResultCode = 0;
        INSERT INTO dbo.BitacoraEvento
            (IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
        VALUES
            (1,NUll, @IdUser, @inIP, GETDATE());

    END TRY
    BEGIN CATCH
        INSERT INTO dbo.DBError
            (UserName, Number, State, Severity, Line, [Procedure], Message, DateTime)
        VALUES
            (SUSER_SNAME(),
             ERROR_NUMBER(),
             ERROR_STATE(),
             ERROR_SEVERITY(),
             ERROR_LINE(),
             ERROR_PROCEDURE(),
             ERROR_MESSAGE(),
             GETDATE());

        SET @outResultCode = 50008; -- Error de sql
    END CATCH
    SELECT @outResultCode AS CodigoError;

END
